@model IEnumerable<Order>

<h2>Pending Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Car</th>
            <th>Requested At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.AppUser.FullName</td>
                <td><img src="~/uploads/@order.Car.CarImage" alt="Car image" width="100" height="100" /></td>
                <td>@order.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <form method="post" asp-action="Approve" asp-route-orderId="@order.Id" style="display:inline-block">
                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                    <form method="post" asp-action="RejectAsync" asp-route-orderId="@order.Id" style="display:inline-block">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>